@import "./normalize.css";
@import "./variables.css";
@import "../_components/layout.css";

* {
  box-sizing: border-box;
  word-break: break-word;
  word-wrap: break-word;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.main__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
}
.adunitContainer {
  text-align: center;
}

.section__wrapper {
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.section__title {
  font-size: 1.5em;
}

@media (width >= 1200px) {
  .container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px auto;
  }
  .section__title {
    font-size: 2em;
  }
  body {
    font-size: 18px;
  }
}
