.small__card {
  margin: 15px 0px;
  border-radius: 10px;
  background: #ffffff;
  width: 100%;
  box-shadow: 12px 12px 23px #e0e0e0, -12px -12px 23px #ffffff;
  .image {
    width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card__info {
    padding: 5px 10px;
  }
  .category {
    color: var(--primary-color);
    font-size: 1em;
    text-decoration: underline;
    text-transform: capitalize;
  }
  .title {
    font-size: 1.2em;
    color: var(--black);
    line-height: 1.3;
    height: calc(2.53 * 1.3em);
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

@media (width >= 991px) {
  .small__card {
    .image {
      height: 300px;
    }
  }
}
